.containerInicio{
    height: 75%;
    width: 50%;
    margin-left: 25%;
    display: block;
    text-align: center;
    margin-top: 7.5%;
}

.divTitulo {
    display: inline-flex;
    align-items: center;
}

h1{
    color: #F22E52;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    margin-right: 10px;
}
