.mat-card{
    background-color: #F2EBDF;
    margin-bottom: 3%;
}

.mat-card-title{
    color: #8C0712;
}

.mat-card-title p:hover{
    color: #F22E52;
    cursor: pointer;
}

.mat-card-subtitle p:hover{
    color: black;
    cursor: pointer;
}

.mat-button{
    background-color: #59040C;
    color: white;
}
